table {
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
    border-radius: 20px 20px 6px 6px;
    border-collapse: separate;
    margin: 3% 3%;
    width: 100%;
    th {
      border-collapse: separate;
      border-radius: 20px 20px 0 0;
      padding: 1%;
      text-align: left;
      font-size: 1.4rem;
      border: 1px solid #eee;
      background-color: $thd;
    }
    tbody {
      border-collapse: collapse;
      tr {
        td {
          padding: 1% ;
          margin: auto;
          border: 1px solid $tbc;
          p {
              font-size: 0.8rem;
          }
        }
      }
      .tcat {
        background-color: $tcr;
      }
      .tkind {
        background-color: $tkr;
        font-size: .8rem;
        font-weight: bolder;
      }
      .trow {
        background-color: $tre;
      }
      .trow:nth-child(odd) {
        background-color: $tro;
    } 
    }
  }

.board-name, .post {
  width: 60%;
  font-size: 1.2rem;
}

.num, .cat-page {
  text-align: center;
}

.latest-thread {
  text-align: right;
}

.subforum {
  font-weight: bolder;
  font-size: .9rem;
  margin-top: 1%;
}